.score-board {
    border-radius: 30px;
    border: solid 3px #FDBAE0;
    box-shadow: inset 0px 3px 4px 3px rgb(190 65 120 / 75%);
    display: block;
    margin-bottom: 10px;
    width: 320px;
    background-color: #F967A1;
}

.score-board h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    text-shadow: 1px 2px #A64B6A;
}